body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

hr {
	border-width: 3px;
	border-color: #b3b3b3;
}

a {
	color: #333;
}

a:visited, a:link, a:active {
	color: #333;
}

a:hover {
	color: #b3b3b3;
}

article {
	margin-bottom: 10px;
}

.main {
	margin-bottom: 15px;
}

.text-muted {
	color: #b3b3b3;
}

#featuredxs {
	font-size: 25px;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 54px;
}

#logo {
	max-width: 140px;
	padding-left: 5%;
}

.vertical-center {
  min-height: 20%;
  min-height: 20vh;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
	article img {
		width: 76%;
	}
}

/*FOOTER*/

footer {
	margin: 2rem 0;
}

[class*="brandico-"]:before {
  	font-family: 'brandico', sans-serif;
  	font-size: 4rem;
  	padding: 0 10px;
}

[class*="entypo-"]:before {
  	font-family: 'entypo', sans-serif;
  	font-size: 4rem;
  	padding: 0 10px;
}

[class*="brandico-"]:link, [class*="entypo-"]:link {
	text-decoration: none;
}

