.flex {
  display: flex;
}

.flex--center-v {
  align-items: center;
}

.flex--center-h {
  justify-content: center;
}

.flex--space-between-h {
  justify-content: space-between;
}

.flex--column {
  flex-direction: column;
}
