/* GLOBAL */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: var(--mainFontColor);
  background-color: var(--mainBackgroundColor);
  line-height: 1.4;
}

hr {
  margin: 7px 0;
  border: 0;
  border-top: 1px solid var(--mainFontColor);
}
