/* GLOBAL */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--mainFontColor);
  background: var(--mainBackgroundColor);
  line-height: 1.4;
}

hr {
  margin: 7px 0;
  border: 0;
  border-top: 1px solid var(--mainFontColor);
}
