/* MIXINS */

@define-mixin clearfix {
  &::after,
  &::before {
    content: '';
    display: table;
    clear: both;
  }
}

@define-mixin downToVerySmall {
  @media (min-width: 320px) {
    @mixin-content;
  }
}

@define-mixin downToSmall {
  @media (min-width: 480px) {
    @mixin-content;
  }
}

@define-mixin downToMedium {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin upToMedium {
  @media (max-width: 767px) {
    @mixin-content;
  }
}

@define-mixin downToLarge {
  @media (min-width: 992px) {
    @mixin-content;
  }
}

@define-mixin downToVeryLarge {
  @media (min-width: 1200px) {
    @mixin-content;
  }
}

@define-mixin upToVeryLarge {
  @media (max-width: 1199px) {
    @mixin-content;
  }
}
