/* VARIABLES */

:root {
  /* Color variables */
  --mainFontColor: #333;
  --lightFontColor: #969191;
  --mainBackgroundColor: #ddd;
  --activeLinkColor: var(--lightFontColor);
  /* Size Variables */
  /* Misc Variables */
}
