/* VARIABLES */

:root {
  /* Color variables */
  --mainFontColor: #333;
  --lightFontColor: #cfcbcb;
  --mainBackgroundColor: linear-gradient(315deg, #ddd, #4a4a4a);
  --activeLinkColor: var(--lightFontColor);

  /* Size Variables */
  --headlineFontWeight: 400;
}
