/* VARIABLES */

:root {
  /* Color variables */
  --mainFontColor: #abb2be;
  --mainBackgroundColor: #282c33;
  --activeLinkColor: #abb2be;

  /* Heading Logo color vars */
  --logoRed: #e06773;
  --logoPurple: #c978d7;
  --logoBlue: #60b0ea;
  --logoGray: #abb2be;
  --logoBackground: #282c33;
  --logoGreen: #95c381;
  --logoYellow: #d2996c;

  /* Size Variables */
  --headlineFontWeight: 400;
}
