/* HEADER */

.header {
  &__headline-column {
    height: 140px;
  }

  &--t-margin {
    margin-top: 20px;
  }

  &__logo {
    font-size: 2.7rem;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    padding-left: 0;

    @mixin downToMedium {
      font-size: 3.6rem;
    }

    &--first {
      color: var(--logoBlue);
    }

    &--second {
      color: var(--logoGreen);
    }

    &--third {
      color: var(--logoPurple);
    }

    &--code {
      color: var(--logoGray);
    }
  }

  &__title {
    font-size: 2.1rem;

    @mixin downToVerySmall {
      font-size: 2.2rem;
    }

    @mixin downToSmall {
      font-size: 3rem;
    }

    @media (min-width: 675px) {
      font-size: 3.375rem;
    }

    @mixin downToMedium {
      font-size: 3.375rem;
    }
  }

  &__subtitle {
    margin: 4px 0 0;
    letter-spacing: 0.0625rem;
    font-size: 1.05rem;
    font-weight: var(--headlineFontWeight);

    @mixin downToSmall {
      font-size: 1.25rem;
    }

    @media (min-width: 675px) {
      margin: 2px 0 0;
      font-size: 1.4375rem;
    }

    @mixin downToLarge {
      margin: 10px 0 0;
    }
  }
}
