/* HEADER */

.header {
  &__headline-column {
    height: 159px;

    &--t-padding {
      padding-top: 25px;
    }
  }

  &__logo {
    width: 123px;
    padding-left: 0;
    margin-top: 7px;
  }

  &__title {
    font-size: 48px;
    height: 96px;

    @media (min-width: 675px) {
      font-size: 48px;
    }

    @mixin downToMedium {
      font-size: 54px;
    }
  }

  &__subtitle {
    margin: 12px 0 0;
    letter-spacing: 1px;
    font-size: 20px;

    @mixin downToMedium {
      margin: 10px 0 0;
      font-size: 23px;
    }
  }
}
