/* INFO SECTION */

.info-section {
  padding: 0 16px 0;

  &__text {
    font-size: 1.05rem;
    font-family: 'Maven Pro', sans-serif;
    padding: 0 16px 0;

    @mixin downToMedium {
      font-size: 1.25rem;
    }
  }

  &__text--padding-l-r {
    padding: 0 16px 0;
  }
}
