/* MAIN SECTION */

.main-section {
  &__headline-txt {
    margin-top: 6px;
    margin-bottom: 11px;
    font-size: 1.25rem;
    letter-spacing: 0.0625rem;

    @mixin downToMedium {
      margin-bottom: 14px;
      font-size: 1.4375rem;
    }
  }
}
