/* MAIN SECTION */

.main-section {
  &__headline-txt {
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;

    @mixin downToMedium {
      margin-bottom: 14px;
      font-size: 23px;
    }
  }
}
