/* ROW */

.row {
  @mixin clearfix;

  margin-right: -16px;
  margin-left: -16px;

  &--l-r-padding {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__column {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;

    &--xs-3 {
      width: 25%;
      float: left;
      min-height: 1px;
    }

    &--xs-4 {
      width: 33.3333333%;
      float: left;
      min-height: 1px;
    }

    &--xs-7 {
      width: 58.3333333%;
      float: left;
      min-height: 1px;
    }

    &--xs-8 {
      width: 66.6666666%;
      float: left;
      min-height: 1px;
    }

    &--xs-9 {
      width: 75%;
      float: left;
      min-height: 1px;
    }

    &--xs-12 {
      width: 100%;
      float: left;
      min-height: 1px;
    }

    &--md-6 {
      @mixin downToMedium {
        width: 50%;
        float: left;
        min-height: 1px;
      }
    }

    &--md-12 {
      @mixin downToMedium {
        width: 100%;
        float: left;
        min-height: 1px;
      }
    }

    &--lg-4 {
      @mixin downToLarge {
        width: 33.3333333%;
        float: left;
        min-height: 1px;
      }
    }

    &--no-padding {
      padding: 0;
    }
  }
}
