/* SOCIAL ICONS */

.social-icons {
  &--center {
    text-align: center;
  }

  &--t-margin {
    margin-top: 3px;
  }

  &__icon {
    font-size: 35px;
    padding: 0 7px;

    &:visited {
      color: var(--mainFontColor);
    }

    &:active {
      color: var(--activeLinkColor);
    }
  }
}
