/* SOCIAL ICONS */

.social-icons {
  &--center {
    text-align: center;
  }

  &--t-margin {
    margin-top: 3px;
  }

  & [class*='brandico-']::before {
    font-family: 'brandico', sans-serif;
    font-size: 32px;
    padding: 0 10px;
  }

  & [class*='entypo-']::before {
    font-family: 'entypo', sans-serif;
    font-size: 32px;
    padding: 0 10px;
  }

  & [class*='entypo-']:visited {
    color: var(--mainFontColor);
  }

  & [class*='entypo-']:active {
    color: var(--activeLinkColor);
  }

  & [class*='brandico-']:link,
  & [class*='entypo-']:link {
    text-decoration: none;
  }
}
